:root {
    --clock-background-color: white;
    --clock-size: 400px;
    --text-color: #884A39;
}

body {
    background: linear-gradient(45deg, #fde5bfcb 0%, #F1C27B 100%);
    background-color: #F9E0BB;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 100vh;
    margin: 0;
}

body>div {
    align-items: center;
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}

/* ------------ TEXT ------------- */

.text {
    font-family: 'Gasoek One', sans-serif;
    grid-column: span 3;
    text-align: center;
}

.text>p {
    font-size: 4rem;
    color: var(--text-color);
    margin: 0;
}

.text-top {
    align-self: flex-start;
    letter-spacing: 1rem;
    margin-top: 20px;
}

.text-bot {
    align-self: flex-end;
    font-family: Oswald;
    letter-spacing: 0;
    margin-bottom: 20px;
    perspective: 800px;

}

.text-bot>p {
    font-size: 3rem;
    transition: transform 0.5s;
}

.text-bot-time {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

/* ------------ HELP ------------- */

.help {
    background-color: #f0ca91;
    border-radius: 20%;
    height: 3rem;
    margin: 10px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s;
    width: 3rem;
}

.help:hover {
    background-color: rgba(54, 54, 54, 0.356);
    cursor: pointer;
}

.help p {
    border-radius: 10px;
    color: #dab885;
    font-family: Oswald;
    font-size: 1rem;
    font-weight: bold;
}

/* ------------ ALERT ------------- */

.alert-background {
    background-color: rgba(0, 0, 0, 0.575);
    height: 100vh;
    position: absolute;
    visibility: hidden;
    width: 100vw;
    z-index: 1;
}

.alert-container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    font-family: Oswald;
    font-size: 3rem;
    height: 400px;
    left: 50%;
    margin-left: -425px;
    margin-top: -200px;
    position: fixed;
    text-align: center;
    top: 50%;
    visibility: hidden;
    width: 850px;
    z-index: 2;
}

.alert-container>p:nth-child(3) {
    bottom: 25px;
    font-size: 1.5rem;
    position: absolute;
}

.alert-container-toggle {
    visibility: visible;
}

.alert-close {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    font-family: 'Cherry Bomb One', cursive;
    font-size: 1.3rem;
    height: 2rem;
    position: absolute;
    right: 5px;
    top: 5px;
    transition-duration: 0.3s;
    transition-property: color, border-color;
    width: 2rem;
}

.alert-close p {
    margin-bottom: 2px;
}

.alert-close:hover {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

/* ------------ HINT ------------- */

.hint {
    transition: color 0.3s;
}

.hint:hover {
    color: rgba(0, 0, 0, 0.801);
    cursor: pointer;
}

/* ------------ SIZE INPUT ------------- */

.size-input-box>* {
    position: absolute;
}

.size-input-box {
    font-family: Oswald;
    grid-area: 2/1/3/2;
    position: relative;
}

.size-input {
    background: transparent;
    left: calc(0% - 120px);
    transform: rotate(-90deg);
    width: 300px;

}

.size-input:hover {
    cursor: pointer;
}

.size-input-title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
    left: calc(0% + 50px);
    margin: 0;
    margin-top: -50px;

}

.size-input-label {

    color: var(--text-color);
    font-size: 3rem;
    grid-column: span 2;
    left: calc(0% + 50px);
    margin-bottom: -50px;
    order: 1;
}

/* ------------ COLOR INPUT ------------- */

.color-input-box>* {
    position: absolute;
}

.color-input-box {
    grid-area: 2/3/3/4;
    position: relative;
}

.color-label {
    color: var(--text-color);
    font-family: Oswald;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -60px;
    right: 2%;
}

.color-input {
    background-color: transparent;
    border: none;
    height: 50px;
    margin-bottom: -60px;
    right: 2%;
    transition: filter 0.3s;
    width: 275px;
}

.color-input:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px #00000080);
}

.color-input::-webkit-color-swatch {
    border: 2px solid black;
    border-radius: 15px;
}

/* ------------ CLOCK ------------- */

.clock-container {
    grid-area: 2/2/3/3;
    perspective: 3500px;
}

.clock {

    align-items: center;
    background-color: var(--clock-background-color);
    border: 5px solid;
    border-radius: 5%;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.692);
    display: flex;
    /* by trial and error I found that optimal font size for clock is
    3rem at 500px. Then you find out the ratio between px and rem by doing
    500/3. Then you take current clock size, and divide it by ratio
    which tells you how much rem you need for current clock size. And 
    lastly you mutiple the calculated rem by 16, because 16px = 1rem */
    font-size: calc((var(--clock-size)/(500/3))*16);
    height: var(--clock-size);
    justify-content: center;
    position: relative;
    transition: transform 1s ease-in-out;
    width: var(--clock-size);
}

.clock-middle {
    background-color: black;
    border-radius: 50%;
    height: 4%;
    position: absolute;
    width: 4%;
}

.hand {
    border-radius: 100px;
    position: absolute;
    top: 50%;
    transform-origin: top center;
}

.hand-hour {
    background-color: black;
    height: 20%;
    transform: rotate(90deg);
    width: 1.5%;
}

.hand-minute {
    background-color: rgb(65, 65, 65);
    height: 43%;
    width: 1%;
}

.hand-second {
    background-color: rgb(185, 185, 185);
    height: 48%;
    width: 0.5%;
}

/* ------------ CLOCK HOURS ------------- */

.hour {
    background-color: black;
    border-radius: 100px;
    height: 13%;
    margin: 0;
    position: absolute;
    width: 0.5%;
}

/* ---- top section */

.hr11 {
    left: 25%;
    top: 1%;
}

.hr12 {
    top: 1%;
}

.hr1 {
    right: 25%;
    top: 1%;
}

/* ---- right section */

.hr2 {
    right: 7%;
    top: 19%;
}

.hr3 {
    right: 7%;
}

.hr4 {
    bottom: 19%;
    right: 7%;
}

/* ---- bottom section */

.hr5 {
    bottom: 1%;
    right: 25%;
}

.hr6 {
    bottom: 1%;
}

.hr7 {
    bottom: 1%;
    left: 25%;
}

/* ---- left section */

.hr8 {
    bottom: 19%;
    left: 7%;
}

.hr9 {
    left: 7%;
}

.hr10 {
    left: 7%;
    top: 19%;
}