:root {
    --clock-size: 400px;
    --clock-background-color: white;
    --text-color: #884A39;
}

body {
    margin: 0;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 100vh;
    /* background: linear-gradient(45deg, #ffd79c65 0%, #F1C27B 100%); */
    background-color: #F9E0BB;
}

body>div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.text {
    grid-column: span 3;
    text-align: center;
    font-family: 'Gasoek One', sans-serif;
}

.text>p {
    margin: 0;
    font-size: 4rem;
    color: var(--text-color);
    transition: 0.5s;
}

.textTop {
    letter-spacing: 1rem;
    margin-top: 20px;
    align-self: flex-start;
}

.textBot {
    letter-spacing: 0;
    align-self: flex-end;
    margin-bottom: 20px;

    perspective: 800px;
}

.text-bad {
    backface-visibility: hidden;
}


.color-input-box>* {
    position: absolute;
}

.color-input-box {
    grid-area: 2/3/3/4;
    position: relative;
}

.color-label {
    font-family: Oswald;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top: -60px;
    right: 2%;
}

.color-input {
    right: 2%;
    margin-bottom: -60px;
    width: 275px;
    height: 50px;
    border: none;
    background-color: transparent;
    transition: filter 0.3s;
}

.color-input:hover {
    filter: drop-shadow(2px 2px 5px #00000080);
    cursor: pointer;
}

.color-input::-webkit-color-swatch {
    border-radius: 15px;
    border: 1px solid black;
}

.size-input {
    font-family: Oswald;
    grid-area: 2/1/3/2;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.size-input>* {
    position: absolute;
}

.ranger {
    background: transparent;
    left: calc(0% - 120px);
    width: 300px;
    transform: rotate(-90deg);
}

.ranger::-webkit-slider-thumb {
    color: red;
}

.ranger-px {
    margin-bottom: -50px;
    left: calc(0% + 50px);
    grid-column: span 2;
    font-size: 3rem;
    order: 1;
    color: var(--text-color);

}

.ranger-title {
    color: var(--text-color);
    left: calc(0% + 50px);
    font-size: 3rem;
    margin: 0;
    margin-top: -50px;
    font-weight: bold;

}

.hint {
    transition: color 0.3s;
}

.hint:hover {

    color: rgba(0, 0, 0, 0.801);
    cursor: pointer;
}

/* ------------ CLOCK ------------- */

.container {
    grid-area: 2/2/3/3;
    perspective: 3500px;

}

.clock {
    transition: transform 1s ease-in-out;
    width: var(--clock-size);
    height: var(--clock-size);
    /* by trial and error I found that optimal font size for clock is
    3rem at 500px. Then you find out the ratio between px and rem by doing
    500/3. Then you take current clock size, and divide it by ratio
    which tells you how much rem you need for current clock size. And 
    lastly you mutiple the calculated rem by 16, because 16px = 1rem */
    font-size: calc((var(--clock-size)/(500/3))*16);
    border: 5px solid;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.692);
    background-color: var(--clock-background-color);
}

.clock-middle {
    position: absolute;
    width: 4%;
    height: 4%;
    border-radius: 50%;
    background-color: black;
}

.hand {
    position: absolute;
    transform-origin: top center;
    top: 50%;
    border-radius: 100px;
}

.hand-hour {
    width: 1.5%;
    height: 20%;
    background-color: black;
    transform: rotate(90deg);
}

.hand-minute {
    width: 1%;
    height: 43%;
    background-color: rgb(65, 65, 65);
}

.hand-second {
    width: 0.5%;
    height: 48%;
    background-color: rgb(185, 185, 185);
}

/* ------------ CLOCK HOURS ------------- */
.hour {
    position: absolute;
    font-size: 100%;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    transition: transform 1s;
}

.hr1 {
    top: 1%;
    left: 23%;
}

.hr12 {
    top: 1%;
}

.hr11 {
    top: 1%;
    right: 21%;
}

.hr10 {
    right: 1%;
    top: 19%;
}

.hr9 {
    right: 1%;
}

.hr8 {
    right: 1%;
    bottom: 19%;
}

.hr7 {
    bottom: 1%;
    right: 23%;
}

.hr6 {
    bottom: 1%;
}

.hr5 {
    bottom: 1%;
    left: 23%;
}

.hr4 {
    left: 1%;
    bottom: 19%;
}

.hr3 {
    left: 1%;
}

.hr2 {
    left: 1%;
    top: 19%;
}